#footer{
    text-Align: center;
    background-color: black;
    color: #FFFFFFA6;
}

#mainsentece{
    text-Align: center;
    color: #FFFFFFA6;
    padding-top: 200px; 
    padding-bottom: 0px;
}

.launch{
    box-sizing: border-box;
    padding: 15px;
    color: Black;
}

.noticebox{
    border: 1px solid rgba(0, 0, 0, 500); 
    border-width: 2px; 
    padding: 12px; 
    word-break: break-all;
}

.mapbox{
    position: relative;
    height: 500px;
    border: 1px solid rgba(0, 0, 0, 500); 
    border-width: 2px; 
    padding-bottom: 20cm;
    margin-bottom: 2cm;
    word-break: break-all;
}

html, html body, html body div#root{
    height: auto;
    position: relative;
    overflow: auto;
}

.ant-layout, .ant-layout {
    height: 100%;
}

.blink{
    background-color: rgba(0, 0, 0, 0);
    padding: 15px;	
    text-align: center;
    font-size: xx-large;
    line-height: 50px;
}
.blink span{
    font-family: sans-serif;;
    color: white;
    font-size: 1.5cm;
    animation: blink 8s linear infinite;
}
@keyframes blink{
0%{opacity: 0;}
50%{opacity: 1;}
100%{opacity: 0;}
}