html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

div#root{
  position: relative;
  height: 100%;
}

.wrapper {
  max-width: 1920pt;
  max-height: 1100pt;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

header {
  position: fixed;
  color: black;
  background:rgba(255, 255, 255, 0.3);
  min-height: 0%;
  width: 100%;
  z-index: 100000;
}

/* menu btn */

.logo{
  max-width: 110pt;
  min-height: 52pt;
  float: left;
  height: 38pt;
  width: 110pt;
}

.navbar {
  position: absolute;
  width: 100%;
  /* background-color:rgba(0,0,0,0.3); */
  background-color:rgb(255, 255, 255);
}
.navbar a:hover {
  background-color: white;
  color: black;
}

.homemenu{
  color: black;
  padding: 14pt 16pt;
  font-size: 13pt;
  min-height: 52pt;
  float: right;
}


.navbar a:hover {
  background-color: black;
  color: white;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropbtn {
  font-size: 13pt;  
  border: none;
  outline: none;
  padding: 16pt 35pt;
  margin: 0;
  /* background-color: rgba(0,0,0,0.3); */
  background-color: rgba(0, 0, 0, 0);
  color: black;
}

.dropbtn:hover{
  color: white;
  background-color: black;
}


.dropdown-content {
  position: fixed;
  overflow: scroll;
  overflow-x: hidden;
  display: none;
  background-color: rgba(0,0,0,0.3);
  min-width: 200pt;
  max-height: 250pt;
  box-shadow: 0pt 8pt 16pt 0pt rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  z-index: 1;
  float: none;
  color: white;
  min-width: fit-content;
  max-height: 50pt;
  display: block;
  text-decoration: none;
  font-size: x-large;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.dropdown-content a:active {
  background-color:rgba(0,0,0,0.3);
}

.dropdown:hover .dropdown-content {
  display: block;
  color: black;
}

/* btn */

main {
  background-size: cover;
  background-position: center;
  /* background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./img/backtwo.jpg"); */
  background-image: linear-gradient( rgba(0,0,0,0), rgba(0,0,0,0.5)), url("./img/snow.jpg");
  height: 100%;
  font-family: 'Do Hyeon', sans-serif;
}

aside {
  border-top: 15pt solid teal;
  color: white;
  background: cadetblue;
  padding: 10pt;
}

footer {
  position: fixed;
  text-align: center;
  color: black;
  /* background: rgba(0,0,0,0.5); */
  background: rgb(255, 255, 255);
  padding: 15pt 0;
  font-weight: bold;
  font-family: 'Do Hyeon', sans-serif;
  min-width: 100%;
  max-height: max-content;
  bottom: 0pt;
}


/* 선택 박스 */

.countryheader{
z-index: 0;
position: relative;
width: fit-content;
color: white;
font-size: 2.5cm;
font-family: 'Do Hyeon', sans-serif;
text-align: center;
letter-spacing: 10pt;
top: 25%;
left: 50%;
transform: translate(-50%, -50%);
}

@media (max-width: 730pt) { 
  .countryheader{
    font-size: 1cm;
  }
}

.sosbox{
position: absolute;
text-align: center;
min-width: 1000pt;
font-family: 'Do Hyeon', sans-serif;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
}

.btn1, .btn2, .btn3, .btn4, .btn5{
background-color: rgba(255, 255, 255, 0.5);
color: white;
border: none;
border-radius: 20%;
font-size: xx-large;
font-family: 'Do Hyeon', sans-serif;
margin: 10pt;
height: 200pt;
width: 200pt;
}
.btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover, .btn5:hover{
color: white;
background-color: rgb(0, 0, 0);
}

@media (max-width: 920pt) { 
  .btn1, .btn2, .btn3, .btn4, .btn5{
  font-size: medium;
  height: 150pt;
  width: 150pt;
  }
}

@media (max-width: 730pt) { 
  .sosbox{
    max-width: 300pt;
    min-height: 330pt;
    min-width: 300pt;
  }

  .btn1, .btn2, .btn3, .btn4, .btn5{
  height: 130pt;
  width: 130pt;
  float: left;
  }
}

.btnicon{
    max-width: 50pt;
    max-height: 50pt;
    /* background-color: rgb(255, 255, 255,0.5);
    border-radius: 10%; */
}



/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background:rgba(0,0,0,0.3);
  font-family: 'Do Hyeon', sans-serif;;
  
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 50%;
  height: 3em;
  background: rgba(0,0,0,0.3);
  overflow: hidden;
  border-radius: .25em;
  min-width: 35%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  background: rgba(0,0,0,0.3);
  cursor: pointer;
  font-size: larger;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  background: rgba(0,0,0,0.3) ;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: black;
  background-color: white; 
}

select option{
    border: none;
    background-color: rgb(0, 0, 0);
}

select option:hover{
  border: none;
  color: white;
  background-color: rgb(255, 255, 255);
}

@media (max-width: 425pt) { 
  .select{width: 95%;}
}

/* 선택 박스 */


/* 페이지 대문 */
.blink{
  position: relative;
  font-family: 'Do Hyeon', sans-serif;
  text-align: center;
  min-width: fit-content;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 0;
}
.blink>span{
  color: white;
  font-size: 2.5cm;
  animation: blink 8s linear infinite; 
  z-index: 0;
}

@media all and (max-width:900pt) { 
  .blink>span{
    font-size: 2cm;
  }
}


@keyframes blink{
  0%{opacity: 0;}
  50%{opacity: 1;}
  100%{opacity: 0;}
  }

/* 여기까지 페이지 대문 */

/* 맵 길들이기 부분 */

.gm-control-active,.gm-svpc{
  width: 20pt !important;
  height: 20pt !important;
}

.gm-style-cc>div,.gm-style-cc>div>span,.gmnoprint.gm-style-cc>div>a{
  display: none;
}

.gm-style-cc{
  margin-left: 100pt;
}
.gmnoprint>div{
  width: 20pt !important;
  height: 50pt !important;
  margin-left: 12pt;
  /* margin-top: 145pt; */
}
.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom>.gm-svpc{
  width: 25pt !important;
  height: 25pt !important;
  margin-left:25pt;
  margin-top: 5pt;
}
.gmnoprint>.gm-style-mtc:nth-child(1)>button{
  font-size: 1pt !important;
  font-weight: 800;
  padding: 0pt !important;
  height:30pt !important;
  position: absolute!important;
  top: 70%!important;
  left:2260%!important;

}
#root > div > main > div > div > div.mapPage > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(3) > div > div:nth-child(1) > ul > div{
  position: absolute!important;
  top: -270%!important;
  left:9560%!important;
}
#root > div > main > div > div > div.mapPage > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(3) > div > div:nth-child(2) > ul > div{
  position: absolute!important;
  top: 500%!important;
  left:8010%!important;
}
.gmnoprint>.gm-style-mtc:nth-child(2)>button{
  font-size: 1pt !important;
  font-weight: 800;
  padding: 0pt !important;
  height:30pt !important;
  position: absolute!important;
  top: 150%!important;
  left:2090%!important;
}

.gm-style> div:nth-child(7) > button{
  right:-2% !important;
}

.mapbody{
  position: fixed;
  width: fit-content;
  height: fit-content;
  left: 40%;
  top: 55%;
  transform: translate(-50%, -50%);
}

.mapPage{
  width: 500pt;
  height: 500pt;
  margin-left: -28%;
  margin-top: -12%;
}
.mapList{
  position: absolute;
  left: 85%;
  top: -13%;
  overflow-y: scroll;
  width: 600pt;
  height:390pt;
  color: black;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6pt);
}
.mapinfo{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  top: 90%;
  left: 145.5%;
  width: 600pt;
  font-size: medium;
  transform: translate(-50%, -50%);
}

/* 모바일, 테블릿 세로 (해상도~ 767pt)*/
@media all and (max-width:767pt) { 

    /* 맵 길들이기 부분 */

    .gm-control-active,.gm-svpc{
      width: 20pt !important;
      height: 20pt !important;
    }

    .gm-style-cc>div,.gm-style-cc>div>span,.gmnoprint.gm-style-cc>div>a{
      display: none;
    }

    .gm-style-cc{
      margin-left: 100pt;
    }
    .gmnoprint>div{
      width: 20pt !important;
      height: 40pt !important;
      margin-left: 14pt;
      /* margin-top: 145pt; */
    }
    .gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom>.gm-svpc{
      width: 25pt !important;
      height: 25pt !important;
      margin-left:25pt;
      margin-top: 5pt;
    }
    .gmnoprint>.gm-style-mtc:nth-child(1)>button{
      font-size: 1pt !important;
      font-weight: 800;
      padding: 0pt !important;
      height:30pt !important;
      position: absolute!important;
      top: 70%!important;
      left:1710%!important;

    }
    #root > div > main > div > div > div.mapPage > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(3) > div > div:nth-child(1) > ul > div{
      position: absolute!important;
      top: -270%!important;
      left:7010%!important;
    }
    #root > div > main > div > div > div.mapPage > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(3) > div > div:nth-child(2) > ul > div{
      position: absolute!important;
      top: -270%!important;
      left:7010%!important;
    }
    .gmnoprint>.gm-style-mtc:nth-child(2)>button{
      font-size: 1pt !important;
      font-weight: 800;
      padding: 0pt !important;
      height:30pt !important;
      position: absolute!important;
      top: 150%!important;
      left:1540%!important;
    }

    .gm-style> div:nth-child(7) > button{
      right:-2% !important;
    }

    .blink span{font-size: 1.3cm; z-index: 0;}

      .mapbody{
        position: absolute;
        left: 50%;
        top: 50%;
      }

      .mapPage{
        position: absolute;
        top: 50%;
        left: 50%;
        transform:  translate(-50%, -110%);
        width: 390pt;
        height: 200pt;
      }
      .mapList{
        position: absolute;
        top: 70%;
        left: 50%;
        transform:  translate(-50%, -7%);
        overflow-y: scroll;
        width: 389pt;
        height:230pt;
        text-align: center;
        backdrop-filter: blur(6pt);
      }

      .mapinfo{
        position: absolute;
        top: 235%;
        left: 50%;
        transform:  translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.5);
        color: rgba(0, 0, 0, 0.747);
        text-align: center;
        font-size: x-large;
        font-weight: bolder;
        /* top: 55%;
        left: 50%;
        transform: translate(-50%, -50%); */
        width: 389pt;
        font-size:small;
        
      }

    }



div.ant-list-item-meta-contetn{
  color: white;
}

.mapList div{
  padding: 3pt;
  font-size: larger;
  text-align: right;
}

.mapList div div{
  padding: 10pt;
  font-size: large;
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 11pt;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5pt black;
  border-radius: 100pt;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 100pt;
}






.notice{
  position: absolute;
  background-color: rgba(7,7,7,0.3);
  color: white;
  border: none;
  border-radius: 5%;
  font-size: x-large;
  font-family: 'Do Hyeon', sans-serif;
  margin: 5pt;
  height: 50pt;
  top: 50%;
  left: 90%;
  transform: translate(-50%,-50%);
}

.notice:hover{
  color: black;
}










